*.vhost.exe.manifest
*.vshost.exe.manifest
*.suo
*.exe
*.pdb
*.cache
*.baml
*.g.resources
JiraApi.dll
JiraApiTests.dll
*.manifest
*.FileListAbsolute.txt
Newtonsoft.Json.dll
Newtonsoft.Json.xml
RestSharp.dll
RestSharp.xml
